*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITY */

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content:space-between;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap:wrap;
}

.center{
    width: 90%;
    margin: auto;
}

.margint{
    margin-top: 10%;
}

.prova{
    flex-basis: 50%;
}

li{
    list-style: none;
    color: white;
    margin-right: 10px;
}

/* NAV MENU  */

header{
    background-color: rgba(0, 132, 253, 1);

}

.menu{
    align-items: center;
    padding: 2% 2%;
}

.navigation{
    align-items: center;
}

.fa-bars{
    color: white;
}

.bottone-nav{
    padding: 10px 10px;
}

/* FIRST SECTION  */

.box {
    background-color: rgba(181, 221, 255, 1);
    margin: 10px 0;
    padding: 20px 15px 0px;
    border-radius: 20px;
}

button{
    border: none;
    border-radius: 20px;
}
 
.bottone-blu{
    background-color: rgba(0, 132, 253, 1);
    color: white;
    padding: 10px 65px;
}

.fa-apple{
    margin-right: 5px;
}

.img-box{
    width: 100%;
    margin-bottom: -1%;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    color: rgba(0, 132, 253, 1);
}

.box-center{
    text-align: center;
    padding: 20px 15px 30px;
}

.box >p{
    margin-top: 10px;
    color: rgba(90, 110, 127, 1);
}

.box >h4 {
    margin-top: 10px;
    color: rgba(0, 132, 253, 1);
}

.big{
    flex-basis: 65%;
}

.small{
    flex-basis: 31%;
} 

.bottom{
    flex-basis: calc(100%/ 3.2);
}

/* SECOND SECTION  */

.strategic-planning{
  text-align: center;
  padding: 20px 0;
}

.container-strategic{
    background-color: rgba(151, 146, 228, 1);
    padding-bottom: 40px;

}

.strategic-planning >img{
   width: 80%;
}

.box-img{
    background-color: white;
    padding: 20px 15px;
    border-radius: 50px;
    text-align: center;
}

.box-img >img{
    width: 100%;
} 

.box-img >p{
    margin-top: 10px;
}

.prova{
    margin-top: 20px;
}

.freccia{
    margin-top: 30px;
}

.freccia >span{
    border-radius: 50%;
    background-color: rgba(151, 146, 228, 1);
    padding: 11px 16px;

}

/* THIRD SECTION  */

.testimonials{
    text-align: center;
}

.testimonials >h3{
    color: rgba(151, 146, 228, 1);
}

.box-testimonials{
    background-color: rgba(151, 146, 228, 1);
    border-radius: 30px;
}

.card{
    text-align: center;
    padding: 30px 10px;
    color: white;
    
}

.card >img {
    width: 165px;
    height: 145px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    margin-top: 20px;
}








/* MEDIA QUERY */

/* TABLET  */

@media screen and (min-width: 768px) {

    .main{
        width: 100%;
    }

    .top{
        display: flex;
        justify-content: space-between;
    }

    .menu{
        display: flex;
        justify-content: space-between;
    }

    .bottom{
        display: flex;
        justify-content: space-between;
    }
    
    .bottom >.box {
        flex-basis: calc(100%/3.2);
    }

    .bottone-blu{
        width: 50%;
    }

    .img-box{
        width: 60%;
        margin-bottom: -1%;
    }

    .card{
        display: flex;
        align-items: center;
        text-align: justify;
    }

   
}

/* DESKTOP  */

@media screen and (min-width: 1024px) {
    .big{
        display: flex;
    }

    .container-strategic{
        display: flex;
    }

    .hamburger {
        display: none;
    }

}


@media screen and (max-width: 768px) {

    .navigation {
        display: none;
    }    
}